.grey-text {
    color: rgb(158, 158, 158) !important;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

label {
    cursor: default;
}

.form-group {
    margin-bottom: 25px;
    margin-left: 15px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend {
    display: flex;
}

.input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #4F5467;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
}

.input-group-text, .nav {
    margin-bottom: 0;
}

.input-group-text {
    font-weight: 400;
}

.input-group-text {
    white-space: nowrap;
}

.input-group > .custom-file {
    display: flex;
    align-items: center;
}
.input-group > .custom-file {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
}
.custom-file {
    height: calc(1.5em + .75rem + 2px);
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    opacity: 0;
    border-radius: 4px;
}

.custom-file-input {
    height: calc(1.5em + .75rem + 2px);
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}
.custom-file-label::after {
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    content: "Browse";
    background-color: #f8f9fa;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
 .custom-file-label::after {
    position: absolute;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #4F5467;
    top: 0;
    right: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-horizontal label {
    margin-bottom: 0;
}

.custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-file-label {
    left: 0;
    z-index: 1;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
}
.custom-file-label, .custom-file-label::after {
    position: absolute;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #4F5467;
    top: 0;
    right: 0;
}
.custom-file, .custom-file-input, .custom-file-label {
    height: calc(1.5em + .75rem + 2px);
}
