.react-tag-input__input {
    height: 34px;
    font-size: 1.4em;
    border-radius: 4px;
}

.react-tag-input__tag__content {
    font-size: 2em;
    padding: 0.4em;
    color: #1b1b1b
}

.react-tag-input__tag {
    background: #29da68;
}

.react-tag-input__tag__remove {
    background: #f5f5f5;
}